
{% extends 'movieclub/base.html' %}
{% load static %}
    

{% block title %} Inicio - The MovieClub {% endblock %}

{% block imports %} 
  <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
  <script src="{% static 'js/inicio.js' %}"></script> 
{% endblock %}

{% block content %} 


<h2 style="display:none" class="titsec mt-4 ml-3"> Lo más visto </h2>


<div class="container-fluid conjunto ml-5">
  <div class="row align-items-center">

    {% for movie in peliculas %}
      <div class="col-lg-2 col-md-3 col-xs-12 m-1 rounded m-3 pelicula" style="background:url('https://image.tmdb.org/t/p/w500{{ movie.poster }}');background-size: 100% auto; text-align:center; min-height: 200px">
        <a href="{% url 'movpage' movie.codigo %}" style="text-decoration: none">
          <h5 class="text-center padding-none titmov"> {{ movie.name }} </h5>
        </a>
        <span class="badge bg-danger"> Valoración {{ movie.rating }}/10 </span>
      </div>
    {% endfor %}

  </div>
</div>

<hr style="3px solid red">

<h2 style="display:none" class="titsec mt-4 ml-3"> Las más valoradas </h2>

<div class="container-fluid conjunto ml-5">
    <div class="row align-items-center">
  
      {% for movie in peliculas_top %}
        <div class="col-lg-2 col-md-3 col-xs-12 m-1 rounded m-3 pelicula" style="background:url('https://image.tmdb.org/t/p/w500{{ movie.poster }}');background-size: 100% auto; text-align:center; min-height: 200px">
          <a href="{% url 'movpage' movie.codigo %}" style="text-decoration: none">
            <h5 class="text-center padding-none titmov"> {{ movie.name }} </h5>
          </a>
          <span class="badge bg-danger"> Valoración {{ movie.rating }}/10 </span>
        </div>
      {% endfor %}
  
    </div>
  </div>



			



















<!--
<h3> Lo más visto </h3>

<div id="carInicio" class="carousel slide col-lg-9" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carInicio" data-slide-to="0" class="active"></li>
          <li data-target="#carInicio" data-slide-to="1"></li>
          <li data-target="#carInicio" data-slide-to="2"></li>
        </ol>
        <div id="carInner" class="carousel-inner">
        </div>
        <a class="carousel-control-prev" href="#carInicio" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carInicio" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>


    -->












{% endblock %}
