{% extends 'movieclub/base.html' %}
{% load static %}

{% block title %} Administración de usuarios - The MovieClub {% endblock %}

{% block imports %} 
  <script src="{% static 'js/filmmanage.js' %}"></script> 
  <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
  <script src="{% static 'js/inicio.js' %}"></script> 
{% endblock %}



{% block content %}


<h2 style="display:none" class="titsec mt-4 ml-3 text-center"> Administración de usuarios </h2>


<div class="container" id="tablaZone">
        <!--Tabla-->
        <form action="{% url 'userform' 0 %}" class="m-4">
        <button type="submit" class="btn btn-success" role="button">
                <i class="fas fa-plus fa-3x"></i>
        </button>
        </form>
        <table class="table table-striped table-light rounded">
            <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre de usuario</th>
                    <th scope="col">Nombre y apellidos </th>
                    <th scope="col">Correo</th>
                    <th scope="col">Admin</th>
                    <th scope="col">Estado de la cuenta</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in users %}
                <tr>
                    <th scope="col" > {{ usuario.id }} </th>

                    <td scope="col"> {{ usuario.username }}</td>
                    <td scope="col"> {{ usuario.first_name }} {{ usuario.last_name }}</td>
                    <td scope="col"> {{ usuario.email }}</td>
                    <td scope="col"> {% if usuario.is_staff == 1 %} Sí {% else %} No {% endif %} </td>
                    <td scope="col"> {% if usuario.is_active == 1 %} Activa {% else %} Desactivada {% endif %} </td>
                    <td>
                        
                        <div class="btn-group">
                            <form action="{% url 'userform' usuario.id %}">
                            <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-edit" title="Editar"></i>
                            </button>
                            </form>
                            
                            <button type="button" class="btn btn-danger delbtn" id="{{ usuario.id }}">
                                    <i class="fas fa-trash-alt" title="Eliminar"></i>
                            </button>
                            
                            
                        </div>  

                    </td>
                    <div style="display: none" id="alert{{ usuario.id }}" class="alert alert-danger" role="alert">
                            ¿Estás seguro? Esta acción no se puede deshacer <a href="{% url 'deluser' usuario.id %}" class="alert-link"> Eliminar </a> <a href="#" class="cancel"> Cancelar </a>
                    </div>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}